/*Layout and properties for header*/
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f1f2f6;
    color: black;
    padding: 10px 0;
    text-align: center;
    height: 40px;
    border-radius: 15px;
    font-weight: bold;
}

/*Layout and properties for the logo and heading*/
.logo {
    float: left;
    width: 40px;
    height: 40px;
}
.logo img {
    width: 40px;
    margin-left: 45px;
}

.logo p{
    font-style: italic;
    font-size: x-large;
    margin-top: -38px;
    font-weight: bolder;
    color: green;
    margin-left: 75px;
}

/*Layout for nav bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
}

nav li {
    display: inline;
    margin: 0 15px;    
}

nav a {
    color: black;
    text-decoration: none;
    background-color: green;
    box-shadow: 5px 5px 5px blue;
    border-radius: 5px;
    margin-bottom: 2px;
}
/*Layout for nav bar hover*/

nav a:hover {
    text-decoration: cursor;
    background-color: rgb(32, 216, 87)
}
